// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
.image-style {
  border-radius: 4px;
  width: 150px;
}
.image-style-thumb {
  border-radius: 4px;
  width: 40px;
}
.navigator-center {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}